.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-space-between-j {
    justify-content: space-between;
}

.flex-space-between-ac {
    align-content: space-between;
}

.flex-center-j {
    justify-content: center;
}

.flex-center-ac {
    align-items: center;
}

.flex-end-ac {
    align-items: flex-end;
}

.flex-end-j {
    justify-content: flex-end;
}

.flex-space-even-j {
    justify-content: space-evenly;
}

.flex-space-even-ac {
    align-content: space-evenly;
}

.grow {
    flex-grow: 1;
}

.gap {
    row-gap: 24px;
    column-gap: 24px;
}

